<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  	<meta name="description" content="">
  	<meta name="author" content="">
  	<link rel="icon" href="assets/img/favicon.png">
    <title>TeambrosDashboard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    params[:controller], media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <nav class="navbar-sidebar-horizontal navbar navbar-expand-lg navbar-light bg-white fixed-top">
          <a class="navbar-brand" href="#">
            <img src="assets/img/teambros-logo-dark.png" width="145" height="32.3" alt="Teambros">
          </a>
          <button class="hamburger hamburger--slider" type="button" data-target=".sidebar-horizontal" aria-controls="sidebar-horizontal" aria-expanded="false" aria-label="Toggle Main Menu">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
          <!-- Added Mobile-Only Menu -->
          <ul class="navbar-nav ml-auto mobile-only-control d-block d-sm-block d-md-block d-lg-none">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbar-notification-search-mobile" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">
                <i class="batch-icon batch-icon-search"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-fullscreen" aria-labelledby="navbar-notification-search-mobile">
                <li>
                  <form class="form-inline my-2 my-lg-0 no-waves-effect">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search for..." aria-label="Search for..." aria-describedby="basic-addon2">
                      <div class="input-group-append">
                        <button class="btn btn-primary btn-gradient waves-effect waves-light" type="button">
                          <i class="batch-icon batch-icon-search"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                </li>
              </ul>
            </li>
          </ul>

          <!--  DEPRECATED CODE:
            <div class="navbar-collapse" id="navbarSupportedContent">
          -->
          <!-- USE THIS CODE Instead of the Commented Code Above -->
          <!-- .collapse added to the element -->
          <div class="collapse navbar-collapse" id="navbar-header-content">
            <ul class="navbar-nav navbar-language-translation mr-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbar-dropdown-menu-link" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">
                  <!-- <i class="batch-icon batch-icon-book-alt-"></i> -->
                  English
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbar-dropdown-menu-link">
                  <li><a class="dropdown-item" href="#">Korean</a></li>
                  <li><a class="dropdown-item" href="#">Chinese</a></li>
                </ul>
              </li>
            </ul>
            <ul class="navbar-nav navbar-notifications float-right">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbar-notification-search" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">
                  <i class="batch-icon batch-icon-search"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-fullscreen" aria-labelledby="navbar-notification-search">
                  <li>
                    <form class="form-inline my-2 my-lg-0 no-waves-effect">
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for..." aria-label="Search for..." aria-describedby="basic-addon2">
                        <div class="input-group-append">
                          <button class="btn btn-primary btn-gradient waves-effect waves-light" type="button">Search</button>
                        </div>
                      </div>
                    </form>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle no-waves-effect" id="navbar-notification-calendar" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">
                  <i class="batch-icon batch-icon-calendar"></i>
                  <span class="notification-number">6</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right dropdown-menu-md" aria-labelledby="navbar-notification-calendar">
                  <li class="media">
                    <a href="task-list.html">
                      <i class="batch-icon batch-icon-calendar batch-icon-xl d-flex mr-3"></i>
                      <div class="media-body">
                        <h6 class="mt-0 mb-1 notification-heading">Meeting with Project Manager</h6>
                        <div class="notification-text">
                          Cras sit amet nibh libero
                        </div>
                        <span class="notification-time">Right now</span>
                      </div>
                    </a>
                  </li>
                  <li class="media">
                    <a href="task-list.html">
                      <i class="batch-icon batch-icon-calendar batch-icon-xl d-flex mr-3"></i>
                      <div class="media-body">
                        <h6 class="mt-0 mb-1 notification-heading">Sales Call</h6>
                        <div class="notification-text">
                          Nibh amet cras sit libero
                        </div>
                        <span class="notification-time">One hour from now</span>
                      </div>
                    </a>
                  </li>
                  <li class="media">
                    <a href="task-list.html">
                      <i class="batch-icon batch-icon-calendar batch-icon-xl d-flex mr-3"></i>
                      <div class="media-body">
                        <h6 class="mt-0 mb-1 notification-heading">Email CEO new expansion proposal</h6>
                        <div class="notification-text">
                          Cras sit amet nibh libero
                        </div>
                        <span class="notification-time">In 3 days</span>
                      </div>
                    </a>
                  </li>
                  <li class="media">
                    <a href="task-list.html">
                      <i class="batch-icon batch-icon-calendar batch-icon-xl d-flex mr-3"></i>
                      <div class="media-body">
                        <h6 class="mt-0 mb-1 notification-heading">Team building exercise</h6>
                        <div class="notification-text">
                          Cras sit amet nibh libero
                        </div>
                        <span class="notification-time">In one week</span>
                      </div>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle no-waves-effect" id="navbar-notification-misc" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">
                  <i class="batch-icon batch-icon-bell"></i>
                  <span class="notification-number">4</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right dropdown-menu-md" aria-labelledby="navbar-notification-misc">
                  <li class="media">
                    <a href="task-list.html">
                      <i class="batch-icon batch-icon-bell batch-icon-xl d-flex mr-3"></i>
                      <div class="media-body">
                        <h6 class="mt-0 mb-1 notification-heading">General Notification</h6>
                        <div class="notification-text">
                          Cras sit amet nibh libero
                        </div>
                        <span class="notification-time">Just now</span>
                      </div>
                    </a>
                  </li>
                  <li class="media">
                    <a href="task-list.html">
                      <i class="batch-icon batch-icon-cloud-download batch-icon-xl d-flex mr-3"></i>
                      <div class="media-body">
                        <h6 class="mt-0 mb-1 notification-heading">Your Download Is Ready</h6>
                        <div class="notification-text">
                          Nibh amet cras sit libero
                        </div>
                        <span class="notification-time">5 minutes ago</span>
                      </div>
                    </a>
                  </li>
                  <li class="media">
                    <a href="task-list.html">
                      <i class="batch-icon batch-icon-tag-alt-2 batch-icon-xl d-flex mr-3"></i>
                      <div class="media-body">
                        <h6 class="mt-0 mb-1 notification-heading">New Order</h6>
                        <div class="notification-text">
                          Cras sit amet nibh libero
                        </div>
                        <span class="notification-time">Yesterday</span>
                      </div>
                    </a>
                  </li>
                  <li class="media">
                    <a href="task-list.html">
                      <i class="batch-icon batch-icon-pull batch-icon-xl d-flex mr-3"></i>
                      <div class="media-body">
                        <h6 class="mt-0 mb-1 notification-heading">Pull Request</h6>
                        <div class="notification-text">
                          Cras sit amet nibh libero
                        </div>
                        <span class="notification-time">3 day ago</span>
                      </div>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
            <ul class="navbar-nav ml-5 navbar-profile">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbar-dropdown-navbar-profile" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">
                  <div class="profile-name">
                    Yohan Lim
                  </div>
                  <div class="profile-picture bg-gradient bg-primary has-message float-right">
                    <img src="assets/img/profile-pic.jpg" width="44" height="44">
                  </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-dropdown-navbar-profile">
                  <li><a class="dropdown-item" href="profiles-member-profile.html">Profile</a></li>
                  <li>
                    <a class="dropdown-item" href="mail-inbox.html">
                      Messages
                      <span class="badge badge-danger badge-pill float-right">3</span>
                    </a>
                  </li>
                  <li><a class="dropdown-item" href="profiles-member-profile.html">Settings</a></li>
                  <li><a class="dropdown-item" href="sisu-lock-screen.html">Logout</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
        <div class="right-column">
      <nav class="sidebar-horizontal navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="navbar-collapse" id="navbar-header-menu-outer">
          <ul class="navbar-nav navbar-header-menu mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="index.html">
                <i class="batch-icon batch-icon-browser-alt"></i>
                Dashboard
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbar-dropdown-dashboard-link" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">
                <i class="batch-icon batch-icon-calendar"></i>
                Calendar <span class="sr-only">(current)</span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbar-dropdown-dashboard-link">
                <li><a class="dropdown-item" href="layout-left-menu-hidden.html">Left Menu - Hidden</a></li>
                <li><a class="dropdown-item" href="layout-left-menu-normal.html">Left Menu - Normal</a></li>
                <li><a class="dropdown-item" href="layout-top-menu-fixed.html">Top Menu - Fixed</a></li>
                <li><a class="dropdown-item" href="layout-top-menu-normal.html">Top Menu - Normal</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="starter-kit.html">
                <i class="batch-icon batch-icon-users"></i>
                Clients
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbar-dropdown-ecommerce-link" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">
                <i class="batch-icon batch-icon-tag"></i>
                Services
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbar-dropdown-ecommerce-link">
                <li><a class="dropdown-item" href="ecommerce-dashboard.html">Dashboard</a></li>
                <li><a class="dropdown-item" href="ecommerce-product-page.html">Product Page</a></li>
                <li><a class="dropdown-item" href="ecommerce-category-page.html">Category Page</a></li>
                <li><a class="dropdown-item" href="ecommerce-cart.html">Cart</a></li>
                <li><a class="dropdown-item" href="ecommerce-checkout-page.html">Checkout Page</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbar-dropdown-apps-link" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">
                <i class="batch-icon batch-icon-user-alt-3"></i>
                Trainers
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbar-dropdown-apps-link">
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle">Search Results</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="search-results-normal.html">Normal Search</a></li>
                    <li><a class="dropdown-item" href="search-results-media.html">Media Search</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle">Mail</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="mail-inbox.html">Inbox</a></li>
                    <li><a class="dropdown-item" href="mail-message.html">Message</a></li>
                    <li><a class="dropdown-item" href="mail-compose.html">Compose</a></li>
                  </ul>
                </li>
                <li><a class="dropdown-item" href="calendar.html">Calendar</a></li>
                <li><a class="dropdown-item" href="task-list.html">Task List</a></li>
                <li><a class="dropdown-item" href="task-manager.html">Task Manager</a></li>
                <li><a class="dropdown-item" href="timeline.html">Timeline</a></li>
                <li><a class="dropdown-item" href="price-list.html">Price List</a></li>
                <li><a class="dropdown-item" href="invoice.html">Invoice</a></li>
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle">Error Pages</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="error-pages-404.html">404 Page</a></li>
                    <li><a class="dropdown-item" href="error-pages-500.html">500 Page</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle">Sign In &amp; Sign Up</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="sisu-signin.html">Sign In</a></li>
                    <li><a class="dropdown-item" href="sisu-signin-2.html">Sign In 2</a></li>
                    <li><a class="dropdown-item" href="sisu-signup.html">Sign Up</a></li>
                    <li><a class="dropdown-item" href="sisu-signup-2.html">Sign Up 2</a></li>
                    <li><a class="dropdown-item" href="sisu-forgot-password.html">Forgot Password</a></li>
                    <li><a class="dropdown-item" href="sisu-forgot-password-2.html">Forgot Password 2</a></li>
                    <li><a class="dropdown-item" href="sisu-lock-screen.html">Lock Screen</a></li>
                    <li><a class="dropdown-item" href="sisu-lock-screen-2.html">Lock Screen 2</a></li>
                  </ul>
                </li>
                <li><a class="dropdown-item" href="profiles-member-profile.html">Profile</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbar-dropdown-components-link" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">
                <i class="batch-icon batch-icon-database"></i>
                Finances
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbar-dropdown-apps-link">
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle">Forms</a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="forms.html">Form Elements</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="forms-extras.html">Form Extras</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="forms-validation.html">Form Validation</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="forms-wizard.html">Form Wizard</a>
                    </li>
                  </ul>
                </li>
                <li><a class="dropdown-item" href="tables.html">Tables</a></li>
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle">UI Kit <span class="badge badge-danger">New *</span></a>
                  <ul class="dropdown-menu">
                    <li class="dropdown-submenu">
                      <a class="dropdown-item dropdown-toggle">Icons</a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="ui-icons-batch-icons.html">Batch Icons</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle">Menu Levels</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item">Level 1 - Item 1</a></li>
                    <li class="dropdown-submenu">
                      <a class="dropdown-item dropdown-toggle">Level 1 - Item 2</a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item">Level 2 - Item 1</a></li>
                        <li class="dropdown-submenu">
                          <a class="dropdown-item dropdown-toggle">Level 2 - Item 3</a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item">Level 3 - Item 1</a></li>
                            <li><a class="dropdown-item">Level 3 - Item 2</a></li>
                            <li><a class="dropdown-item">Level 3 - Item 3</a></li>
                            <li><a class="dropdown-item">Level 3 - Item 4</a></li>
                          </ul>
                        </li>
                        <li><a class="dropdown-item">Level 2 - Item 3</a></li>
                        <li><a class="dropdown-item">Level 2 - Item 4</a></li>
                      </ul>
                    </li>
                    <li><a class="dropdown-item">Level 1 - Item 3</a></li>
                    <li><a class="dropdown-item">Level 1 - Item 4</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </div>

      <%= yield %>
      </div>
    </div>
    <%= javascript_include_tag params[:controller], 'data-turbolinks-track': 'reload' %>
  </body>
</html>
